@model List<Property>
<div class="container row ">
@foreach (var Prop in Model)
{
    <div class="card col-3 m-4" style="width: 18rem;">
             <img src="@Prop.PropertyImg" class="card-img-top" alt="..." /> 
        <div class="card-body">
                <h5 class="card-title">Location : @Prop.Address</h5>
                <p class="card-text">Price : @Prop.Price</p>
                <p class="card-text">City : @Prop.city.Name</p>
                <p class="card-text">Features : @Prop.Features</p>
                <a class="mr-2 btn btn-primary" asp-action="Details" asp-route-id="@Prop.Id">Details</a>
                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@Prop.Id">Edit</a>
                @if (Prop.propertyStatus.status == "Available" || Prop.propertyStatus.status == "Under Contract")
                {
                    <a class="btn btn-dark" asp-action="Delete" asp-route-id="@Prop.Id">Delete</a>
                }
        </div>
    </div>     
}
</div>
<br><a class="btn btn-primary" style="text-align=center" asp-action="Create">Create New Property</a>


